## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,64.60,98,100,6.42,overcast clouds
1,1,Sao Filipe,CV,14.8961,-24.4956,72.09,70,99,12.08,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,48.47,89,80,2.42,broken clouds
3,3,Kahului,US,20.8947,-156.4700,69.06,82,0,4.61,clear sky
4,4,Aksarka,RU,66.5606,67.7975,-14.89,99,64,6.78,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Vaini,TO,-21.2000,-175.2000,82.24,79,94,18.99,overcast clouds
10,10,Padang,ID,-0.9492,100.3543,77.99,86,95,3.67,overcast clouds
17,17,Arraial Do Cabo,BR,-22.9661,-42.0278,85.96,74,40,9.22,scattered clouds
20,20,Georgetown,MY,5.4112,100.3354,83.89,86,20,0.00,few clouds
31,31,Sambava,MG,-14.2667,50.1667,78.44,79,26,12.64,scattered clouds
34,34,Lorengau,PG,-2.0226,147.2712,82.06,78,71,9.69,broken clouds
37,37,Progreso,MX,21.2833,-89.6667,79.11,69,31,8.43,scattered clouds
45,45,Saint-Philippe,RE,-21.3585,55.7679,78.39,78,53,9.31,broken clouds
48,48,Dingle,PH,10.9995,122.6711,75.65,88,91,5.26,overcast clouds
50,50,Atuona,PF,-9.8000,-139.0333,77.14,78,6,14.63,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                203
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Vaini,TO,-21.2000,-175.2000,82.24,79,94,18.99,overcast clouds
10,10,Padang,ID,-0.9492,100.3543,77.99,86,95,3.67,overcast clouds
17,17,Arraial Do Cabo,BR,-22.9661,-42.0278,85.96,74,40,9.22,scattered clouds
20,20,Georgetown,MY,5.4112,100.3354,83.89,86,20,0.00,few clouds
31,31,Sambava,MG,-14.2667,50.1667,78.44,79,26,12.64,scattered clouds
34,34,Lorengau,PG,-2.0226,147.2712,82.06,78,71,9.69,broken clouds
37,37,Progreso,MX,21.2833,-89.6667,79.11,69,31,8.43,scattered clouds
45,45,Saint-Philippe,RE,-21.3585,55.7679,78.39,78,53,9.31,broken clouds
48,48,Dingle,PH,10.9995,122.6711,75.65,88,91,5.26,overcast clouds
50,50,Atuona,PF,-9.8000,-139.0333,77.14,78,6,14.63,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Vaini,TO,82.24,overcast clouds,-21.2000,-175.2000,
10,Padang,ID,77.99,overcast clouds,-0.9492,100.3543,
17,Arraial Do Cabo,BR,85.96,scattered clouds,-22.9661,-42.0278,
20,Georgetown,MY,83.89,few clouds,5.4112,100.3354,
31,Sambava,MG,78.44,scattered clouds,-14.2667,50.1667,
34,Lorengau,PG,82.06,broken clouds,-2.0226,147.2712,
37,Progreso,MX,79.11,scattered clouds,21.2833,-89.6667,
45,Saint-Philippe,RE,78.39,broken clouds,-21.3585,55.7679,
48,Dingle,PH,75.65,overcast clouds,10.9995,122.6711,
50,Atuona,PF,77.14,clear sky,-9.8000,-139.0333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
clean_hotel_df = hotel_df.replace("", np.nan).dropna()
clean_hotel_df.count()

City                   187
Country                187
Max Temp               187
Current Description    187
Lat                    187
Lng                    187
Hotel Name             187
dtype: int64

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))